.order-btn{
    width: 100%;
    margin-top: 5%;
    margin-left: 25%;
}
.order-cart{
    margin-top: 5%;
    background-color: #1C2B35;
    border: 8px solid orange;
    padding: 10px;
    border-radius: 20px;
}
.order-cart h2{
    color: #fff;
    text-align: center;
}
.cart-container{
    padding: 4px;
    border-radius: 10px;
    box-shadow:8px 8px gray;
}